@import "variables";

/*About page*/
.about-page {
  width: 100%;
  height: 100vh;

  display: flex;

  /*Columns line*/
  .column {
    display: grid;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: repeat(1, 100%);

    &.c-1 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 6;

      border-left: 1px solid $color-laine;
      border-right: 1px solid $color-laine;
    }

    &.c-2 {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 6;

      border-right: 1px solid $color-laine;
    }

    &.c-3 {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 6;

      border-right: 1px solid $color-laine;
    }

    &.c-4 {
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 6;

      border-right: 1px solid $color-laine;
    }
  }

  .box-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    border-bottom: 1px solid $color-laine;
  }

  .box-right {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;

    border-top: 1px solid $color-laine;
  }

  .content {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;

    margin-bottom: -1px;

    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.205em;

      color: $color-active;
    }

    p {
      font-family: $font-harmonia;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;

      color: $color-active;

      margin-top: 15px;
    }

    ul {
      width: 100%;
      list-style: none;

      display: flex;
      flex-wrap: wrap;

      li {
        font-family: $font-harmonia;

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        color: $color-active;

        margin-right: 5px;

        padding-bottom: 13px;

        border-bottom: 1px solid $color-active;

        width: calc(50% - 5px);

        margin-top: 60px;

        &:nth-child(2n) {
          margin-right: 0;
          margin-left: 5px;
        }
      }
    }
  }

  .contact-box {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;

    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.205em;

      color: $color-navigation;

      margin-bottom: 30px;
    }

    a {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.205em;

      color: $color-navigation;

      margin-bottom: 15px;

      &:hover {
        color: $color-active;
      }
    }
  }

  section {
    width: 100vw;
  }


  /*First section*/

  .first-section {
    .container {
      .content {
        .top {
          height: 50%;

          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .bottom {
          height: 50%;

          display: flex;
          align-items: flex-end;
        }
      }
    }
  }


  /*Second section, Third section, Fourth section, Fifth section*/

  .second-section, .third-section, .fourth-section, .fifth-section {
    .container {
      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding-bottom: 90px;

        ul {
          li {
            font-family: $font-avant;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 14px;
            /* identical to box height */

            letter-spacing: 0.205em;
            text-transform: uppercase;

            color: $color-active;

            a {
              font-family: $font-avant;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 14px;
              /* identical to box height */

              letter-spacing: 0.205em;
              text-transform: uppercase;

              color: $color-active;

              text-decoration: none;
            }
          }
        }
      }
    }
  }


  /*Six section*/

  .six-sectionnpm star {
    .container {
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4 {
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.205em;

          color: $color-active;

          margin-bottom: 30px;
        }

        a {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.205em;

          color: $color-active;

          margin-bottom: 15px;

          &:hover {
            color: $color-active;
          }
        }
      }
    }
  }
}