@import "variables";

/*Architecture page*/
.architecture-home {
  width: 100%;
  height: 100vh;

  display: flex;


  /*First section*/
  .first-section {
    .container {
      .box-left {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        border-bottom: 1px solid $color-laine;
      }

      .box-right {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 5;

        border-top: 1px solid $color-laine;
      }

      .column {
        display: grid;
        grid-template-rows: repeat(4, 25%);
        grid-template-columns: repeat(1, 100%);

        &.c-1 {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 6;

          border-left: 1px solid $color-laine;
          border-right: 1px solid $color-laine;
        }

        &.c-2 {
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 6;

          border-right: 1px solid $color-laine;
        }

        &.c-3 {
          grid-column-start: 4;
          grid-column-end: 5;
          grid-row-start: 1;
          grid-row-end: 6;

          border-right: 1px solid $color-laine;
        }

        &.c-4 {
          grid-column-start: 5;
          grid-column-end: 6;
          grid-row-start: 1;
          grid-row-end: 6;

          border-right: 1px solid $color-laine;
        }

        .top {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 4;

          .content {
            display: flex;
            align-items: flex-end;

            height: 100%;
            width: 100%;


            ul {
              display: flex;
              flex-wrap: wrap;
              align-items: flex-end;

              width: 100%;

              li {
                width: 50%;
                height: fit-content;

                padding-right: 30px;
                padding-bottom: 60px;


                @media (max-width: 1919px) {
                  padding-right: 15px;
                  padding-bottom: 30px;
                }

                img {
                  width: 100%;
                  height: auto;
                }

                a {
                  position: relative;
                  display: flex;

                  span {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 14px;
                    /* identical to box height */

                    letter-spacing: 0.205em;

                    color: $color-white;

                    background-color: $color-active;


                    position: absolute;
                    top: 15px;
                    right: -60px;

                    z-index: 2;

                    white-space: nowrap;

                    transform: scale(0.5);

                    display: none;

                    padding: 5px;
                  }

                  img {
                    width: 100%;
                    height: auto;

                  }

                  .not-active {
                    display: block;
                  }

                  .active {
                    display: none;
                  }

                  &:hover {
                    z-index: 99;
                    transform: scale(2);

                    span {
                      display: block;
                    }

                    .not-active {
                      display: none;
                    }

                    .active {
                      display: block;

                    }
                  }
                }


                &:nth-last-child(1), &:nth-last-child(2) {
                  padding-bottom: 0;

                  a {
                    &:hover {
                      transform: scale(2) translateY(-25%);
                    }
                  }
                }
              }
            }

          }
        }

        .bottom {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 4;
          grid-row-end: 5;

          padding-top: 20px;

          span {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            /* identical to box height */

            letter-spacing: 0.205em;

            color: $color-not-active;

            text-transform: uppercase;
          }
        }

        &:hover {
          .bottom {
            span {
              color: $color-active;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

