@font-face {
  font-family: 'AvantGardeGothicC';
  src: url('../fonts/avant/AvantGardeGothicC.otf'); /* IE9 Compat Modes */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGardeGothicC';
  src: url('../fonts/avant/AvantGardeGothicC-BdItalic.otf'); /* IE9 Compat Modes */
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'AvantGardeGothicC';
  src: url('../fonts/avant/AvantGardeGothicC-Bold.otf'); /* IE9 Compat Modes */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGardeGothicC';
  src: url('../fonts/avant/AvantGardeGothicC-Italic.otf'); /* IE9 Compat Modes */
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Harmonia';
  src: url('../fonts/harmonia/HarmoniaSansProCyr-Regular.ttf'); /* IE9 Compat Modes */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Harmonia';
  src: url('../fonts/harmonia/HarmoniaSansProCyr-Bold.ttf'); /* IE9 Compat Modes */
  font-weight: bold;
  font-style: normal;
}