@import "fonts";
@import "variables";


/*Global*/

* {
  margin: 0;
  padding: 0;

  font-family: $font-avant;

  text-decoration: none;

  transition: all 0.5s;

  box-sizing: border-box;

  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar
  {
    width: 1px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb
  {
    background-color: $color-not-active;
  }
}

body {
  background: $color-white;

  overflow-x: hidden;
}

section {
  width: 100%;
  height: 100%;

  display: flex;
}

.container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(6, 16.6666667%);
  grid-template-rows: repeat(4, 25%);
}

/* Typography */

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: $color-white;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: $color-white;
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.205em;

  /* Навигация 1 уровень */

  color: $color-navigation;
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height */

  letter-spacing: 0.205em;

  color: $color-active;
}

ul {
  list-style: none;
}

a {
  color: $color-navigation;

  &:before, &:after {
    background: $color-navigation;
  }

  &:hover, &:active, &:focus {
    color: $color-active;

    &:before, &:after {
      background: $color-active;
    }
  }
}

/*Loader*/

.loader {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 9999999;

  .center {
    display: flex;
    align-items: flex-end;

    .left {
      width: 62px;

      display: flex;
      justify-content: flex-end;

      margin-right: 12px;

      span {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.205em;

        /* Навигация */

        color: $color-navigation;
      }
    }
  }
}


/*Run peoples*/

.run-peoples {
  height: 36px;
  width: 109px;

  position: relative;

  overflow: hidden;

  img {
    height: auto;
    width: 110px;

    position: absolute;
    top: 0;
    left: 0;

    transition: 0s;
  }
}


/*Header*/

header {
  width: 100%;
  height: 105px;

  position: fixed;
  left: 0;
  top: 0;

  z-index: 99999;

  .container {
    grid-template-rows: repeat(1, 100%);

    position: relative;

    .content {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;

      display: flex;
      align-items: flex-end;
      justify-content: center;

      ul {
        display: flex;
        margin-bottom: 50px;

        li {
          margin: 0 11px;

          a {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.205em;
          }
        }
      }
    }
  }
}


/*Footer*/

footer {
  width: 100%;
  height: 90px;

  position: fixed;
  left: 0;
  bottom: 0;

  .container {
    grid-template-rows: repeat(1, 100%);

    position: relative;

    .cursor-box {
      position: absolute;
      top: -30px;
      left: 0;

      transition: 0s;
    }

    .left {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;

      .content {
        width: 100%;
        height: 100%;

        background-image: url("../img/footer-left.png");
        background-position: top right;
        background-size: cover;

        position: relative;

        &:before {
          position: absolute;
          top: 18px;
          right: 16px;

          content: url("../img/a.png");
        }
      }
    }

    .right {
      grid-column-start: 2;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 2;

      padding-left: 65px;

      .content {
        width: 100%;
        height: 100%;

        background-image: url("../img/footer-right.png");
        background-position: top left;
        background-size: cover;

        position: relative;

        &:before {
          position: absolute;
          top: 16px;
          left: 16px;

          content: url("../img/b.png");
        }

        .menu-container {
          height: 100%;
          width: calc(100% + 65px);

          margin-left: -65px;

          display: grid;
          grid-template-rows: repeat(1, 100%);
          grid-template-columns: repeat(5, 20%);


          .menu-box {
            grid-column-start: 2;
            grid-column-end: 6;
            grid-row-start: 1;
            grid-row-end: 2;

            display: flex;
            padding-top: 20px;

            ul {
              display: flex;

              li {
                margin: 0 75px;

                &:first-child {
                  margin-left: 0;
                }

                &:last-child {
                  margin-right: 0;
                }

                a {
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 16px;
                  letter-spacing: 0.205em;

                  text-transform: uppercase;

                }
              }
            }
          }

        }
      }
    }
  }
}


/*PageWrap*/

.page-wrap {
  .left-link {
    z-index: 9999;

    position: fixed;
    left: 0;
    top: 0;

    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(5, 20%);

    height: 100%;
    width: 16.6666667%;

    .content {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 5;

      padding-left: 85px;
      padding-bottom: 55px;

      display: flex;
      align-items: flex-end;

      a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.205em;

        transform: rotateZ(-90deg);
        transform-origin: left bottom;

        display: flex;
        align-items: center;

        white-space: nowrap;

        &:hover, &.active {
          color: $color-active;
          font-weight: bold;

          &:before {
            margin-right: 20px;
            margin-left: -10px;

            background-color: $color-active;
          }
        }

        &:before {
          margin-right: 10px;

          width: 20vh;
          height: 1px;

          content: '';
        }
      }
    }
  }

  .right-link {
    z-index: 9999;

    position: fixed;
    right: 0;
    top: 0;

    width: 16.6666667%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(5, 20%);

    .content {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;

      padding-right: 85px;
      padding-bottom: 55px;

      display: flex;
      justify-content: flex-end;
      align-items: flex-start;

      a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.205em;

        transform: rotateZ(-90deg);
        transform-origin: right bottom;

        display: flex;
        align-items: center;

        white-space: nowrap;

        margin-top: -70px;

        &:hover, &.active {
          margin-top: -50px;

          color: $color-active;

          font-weight: bold;

          &:after {
            margin-left: 20px;

            background-color: $color-active;
          }
        }

        &:after {
          margin-left: 10px;

          width: 15vh;
          height: 1px;

          content: '';
        }
      }
    }
  }
}