@import "variables";

/*Home page*/
.page-home {
  width: 100%;
  height: 100vh;

  display: flex;


  /*First section*/
  .first-section {

    .container {
      .left {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;

        display: flex;
        align-items: flex-end;

        padding-left: 85px;

        a {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.205em;

          transform: rotateZ(-90deg);
          transform-origin: left bottom;

          display: flex;
          align-items: center;

          white-space: nowrap;

          &:hover {
            &:before {
              margin-right: 20px;
              margin-left: -10px;
            }
          }

          &:before {
            margin-right: 10px;

            width: 20vh;
            height: 1px;

            content: '';
          }
        }
      }

      .center {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 4;

        display: flex;
        align-items: center;
        justify-content: center;

        .content {
          display: flex;
          flex-direction: column;
          align-items: center;

          width: 100%;

          .top {
            margin-bottom: 20px;

            ul {
              display: flex;

              li {
                margin: 0 11px;

                a {
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 16px;
                  letter-spacing: 0.205em;
                }
              }
            }
          }

          .bottom {
            width: 100%;
            overflow: hidden;

            //display: flex;
            //justify-content: center;

            .menu-box{
              width: 100vw;

              display: flex;
              justify-content: center;

              position: relative;

              margin: 0 auto 30px auto;
              padding-top: 36px;

              transform: translateX(-16.6666667%);

              .cursor-box {
                position: absolute;

                top: 0;

                transition: 0s;
              }

              ul {
                display: flex;

                li {
                  margin: 0 75px;


                  &:first-child {
                    margin-left: 0;
                  }

                  &:last-child {
                    margin-right: 0;
                  }

                  a {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.205em;

                    text-transform: uppercase;
                  }
                }
              }
            }
          }
        }
      }

      .right {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;


        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        padding-right: 85px;
        padding-top: 20px;

        a {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.205em;

          transform: rotateZ(90deg);
          transform-origin: right bottom;

          display: flex;
          align-items: center;

          white-space: nowrap;

          &:hover {
            &:before {
              margin-right: 20px;
              margin-left: -10px;
            }
          }

          &:before {
            margin-right: 10px;

            width: 15vh;
            height: 1px;

            content: '';
          }
        }

      }
    }
  }
}