/*Colors*/
$color-active: #000000;
$color-not-active: #BCBCBC;
$color-navigation: #979A9C;
$color-white: #FFFEFE;
$color-blackout: rgba(0, 0, 0, 0.46);
$color-laine: #C2C2C2;

/*Typography*/
$font-avant: 'AvantGardeGothicC';
$font-harmonia: 'Harmonia';